*{
    margin: 0px;
    padding: 0px;
}
#nav1 {
    width: 100%;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#nav1 > div {
    width: 20%;
    padding: 10px;
}
#nav1 > div > a > img {
    width: 150px;
    padding: 30px;
}
#container_hiru {
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}
#container_hiru > div {
    height: auto;
    padding: 10px;
    color: #1f6699;
    text-decoration: none;
}
#container_hiru > div > img {
    width: 200px;
}
#tatal_price {
    width: 90%;
    margin: auto;
    padding: 10px;
    color: #1f6699;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between ;
}
button {
    color: white;
    border-radius: 4px;
    padding: 12px 14px;
    background-color: #035d59;
    border: 0px;
    width: 80px;
}
#container_hiru > div:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#para {
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    color: #676767;
}
#tatal_price > button > a {
    text-decoration: none;
    color: aliceblue;
}
#tatal_price > button {
    background-color: #235780;
}